body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;  
  background-image: url(../pcakeimages/bg.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

header {
  background-color: #ff7da7;
  padding: 20px;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.logo {
  position: absolute;
  left: 50%;
  top: 75%;  /* Adjust the top value to control how much of the logo hangs below the header */
  transform: translate(-50%, -50%);
}
  
.logo img {
  height: 100px;  /* Adjust the height as needed */
}

.topnav-right {
  float: right;
  margin-right: 0;
  font-size: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255); /* Change color to black */
}

.topnav-right a {
  color: rgb(255, 255, 255); /* Ensure all links are initially black */
  size: 10px;
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url('../pcakeimages/sidenav.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #91075c;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #260e92;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ff7da7;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.giftop{
  position: absolute;
  left: 46%;
  top: 110px;
  
}

.giftop img{
  height: 180px;
 
}

form {
  --bg-light: #efefef;
  --bg-dark: #ff7da7;
  --clr: #f095dc;
  --clr-alpha: #9ab7e260;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

form input[type="email"],
form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

form input[type="email"]:focus,
form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: #d84f7b;
  font-weight: 600;
}

form .submit {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem 0.75rem;
  width: 103%;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: #ff7da7;
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 20px;
  text-align: center; /* Center text vertically */
  margin: 0 auto;
}

form .submit:hover {
  background-color:rgb(255, 167, 211);
  color:#be1d8e;
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;  /* Adjust the height as needed */
  justify-content: center;  /* Centers horizontally */
  align-items: center;  
  background-color: #ff7da7;
  color: white;
  font-size: medium;
  text-align: center;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
